/* style.css */

body {
    animation: moveBackground 10s linear infinite; 
}

@keyframes moveBackground {
    from {
        background-position: 0 0; 
    }
    to {
        background-position: 100% 0; 
}
}
